h4{
    color:green
}

.p{
    color:pink;
}

.g{
    color:gray;
}

.solid{
    border-style: solid;
}

.m1{
    margin : 10px;
}

.code{
    background-color: lightgray;
    padding : 10px 20px;
    margin :5px;
    color : black;
    display:inline-block
}